[project]
	description = Test Repo to learn Gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/logdrum
[access "refs/for/refs/*"]
	read = group user/logdrum
	push = group user/logdrum
	label-Code-Review = -2..+2 group user/logdrum
	label-Verified = -1..+1 group user/logdrum
	rebase = group user/logdrum
	removeReviewer = group user/logdrum
	submit = group user/logdrum
[access "refs/heads/*"]
	read = group user/logdrum
	create = group user/logdrum
	push = +force group user/logdrum
	pushMerge = group user/logdrum
[access "refs/tags/*"]
	push = +force group user/logdrum
	pushTag = group user/logdrum
	pushSignedTag = group user/logdrum
